<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Content Start -->
    <div class="content">

        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="#" class="nav-link" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="https://www.unitru.edu.pe/RecursosWeb/favicon.ico" alt="" style="width: 40px; height: 40px;">
            </a>
            <div class="d-none d-md-flex ms-4">
                <a class="form-control border-0" type="search" placeholder="Search">ING. INDUSTRIAL</a>
            </div>
            
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link">
                        <i class="fa fa-book me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex" style="display:contents !important ;">Diseño de Plantas</span>
                    </a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="cursor:pointer">
                        <i class="fa fa-users me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Integrantes</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a/ALm5wu3ZKqSsCJfQWWEN1qZK1T-rrQpIIXQTzGxYbd0AoX4=s48-p" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Chang Carrera Victor Lee</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu88DyRjC-MCBzwW6jcX15JKMCfKwHXtI7VWWsUZEQ=s48-p" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Florian Sanchez Odar Daniel</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu9zCTpWbqLwxSu16fwuf9JS-pzFPu2Agr7k9zpv=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Huaccha Ramírez Diego Roosevelt</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu-dyFMzOvSre2owPMhnqs364kn1DMY0r42J7r78OQ=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Perez Villanueva Luis Gustavo</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu-xEjI7BDx_-_qU3_ntXOLMndRnhqcTC0akvRWB=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Requena Escobedo Fernando</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu-cVIK4GDt5tc_GaDBO5rfNi1kHo_4cD3lUxl8G=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Rojas Horna Arnold Boer</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu-h15AX7ZuxINciESHovKk02bFrb4aVUdmfCHmV=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Trujillo Cueva Leydi Xiomara</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu-m-s6xiEP6GEJOGzKSNAu-_6M7Hq4KR3yIOf3B=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Terán Ruiz Bruno Fabrizzio</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu8cag7wvMqXwD9U4viLHttIfVutDB34AlZX1UmR=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Zarate Flores Lesly Zafiro</h6>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu_K3ksziPLOkeFDYPNw6V7OIVI7s3BDtlZb9bEQ8w=s64-c" alt="" style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Zavaleta Chichipe Jhonny Daniel</h6>
                                </div>
                            </div>
                        </a>

                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">Añadir Integrantes</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link">
                        <img class="rounded-circle" src="https://lh3.googleusercontent.com/a-/ACNPEu-BmLDZT2qhgJ00Eegup8ZYWzm9uGmdXb3QQUHE=s64-c" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">SEGUNDO SEIJAS VELASQUEZ</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        
        <!-- Widgets Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Ingresar Harina de Almidón (kg/h)</h6>
                        </div>
                        <div class="d-flex mb-2">
                            <input id="input" class="form-control bg-transparent" type="text" placeholder="Ingresar aquí ...">
                            <button id="button" type="button" class="btn btn-primary ms-2">Calcular</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-8">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h3 class="d-flex mb-0 align-items-center text-center">Calculadora de Demanda de Materiales para la producción Almidón de Yuca</h3>
                        </div>                           
                    </div>
                </div>
            </div>
        </div>
        <!-- Widgets End -->

        <!-- Indicadores Eco-Fiancieros Start -->
        <div class="container-fluid pt-4 px-4">
            <h5 class="mb-2">Indicadores Económicos - Financieros</h5>
        </div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-6">
                    <div class="bg-light rounded align-items-center justify-content-between p-4">
                        <h6 class="mb-4">Indicadores de decisión económico: </h6>
                        <div class="table-responsive text-center" id="tableEconomic">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Indicador</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>B/C</td>
                                        <td id="td-BCE">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>VANE</td>
                                        <td id="td-VANE">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>TIRE</td>
                                        <td id="td-TIRE">000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="loader d-none"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-6">
                    <div class="bg-light rounded align-items-center justify-content-between p-4">
                        <h6 class="mb-4">Indicadores de decisión financiera: </h6>
                        <div class="table-responsive text-center" id="tableFinance">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Indicador</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>B/C</td>
                                        <td id="td-BCF">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>VANF</td>
                                        <td id="td-VANF">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>TIRF</td>
                                        <td id="td-TIRF">000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="loader d-none"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Indicadores Eco-Fiancieros End -->

        <!-- Gráficos Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12">
                    <div class="bg-light text-center rounded p-4">
                        <div class="p-2"></div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Punto de equilibrio</h6>
                        </div>
                        
                        {{!-- Table Horizontal--}}
                        <div class="table-responsive text-center" id="tablePE">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Costo Fijo</th>
                                        <th>Costo Variable</th>
                                        <th>Costo Total</th>
                                        <th>Ingreso Total</th>
                                        <th>Punto de Equilibrio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="td-CF">000</td>
                                        <td id="td-CV">000</td>
                                        <td id="td-CT">000</td>
                                        <td id="td-IT">000</td>
                                        <td id="td-PE">000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="loader d-none"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Gráficos End -->


        <div class="container-fluid pt-4 px-4">
            <h5 class="mb-2">Requerimientos de Materia Prima</h5>
        </div>
        
        <!-- Indicadores MAteria Prima Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Materia prima (yuca)</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-A" class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Agua potable</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-B"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Materia prima lavada</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-D"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Pulpa</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-F"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 pt-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Pulpa en buen estado</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-H"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Pulpa rayada</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-I"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">	Lechado de yuca</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-K"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Almidón sedimentado</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-M"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 pt-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Almidón seco</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-N"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-4">
                            <p class="mb-2">Gránulos de almidón</p>
                        </div>
                        <div class="ms-4">
                            <h6 id="value-O"class="mb-0">000</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Sale & Revenue End -->

        <!--Table-->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Tabla de Balance de materia para producción de almidón de yuca </h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Corriente</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Flujo (kg/h)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>A</td>
                                        <td>Materia prima (yuca)</td>
                                        <td id="td-A">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>B</td>
                                        <td>Agua potable</td>
                                        <td id="td-B">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>D</td>
                                        <td>Materia prima lavada</td>
                                        <td id="td-D">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>F</td>
                                        <td>Pulpa</td>
                                        <td id="td-F">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>H</td>
                                        <td>Pulpa en buen estado</td>
                                        <td id="td-H">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>I</td>
                                        <td>Pulpa rayada</td>
                                        <td id="td-I">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>K</td>
                                        <td>Lechado de yuca</td>
                                        <td id="td-K">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>M</td>
                                        <td>Almidón sedimentado</td>
                                        <td id="td-M">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>N</td>
                                        <td>Almidón seco</td>
                                        <td id="td-N">000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>O</td>
                                        <td>Gránulos de almidón</td>
                                        <td id="td-O">000</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">46</a>, Todos los derechos son reservados. 
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        Diseñado por <a href="#">Victor Lee</a>
                    </br>
                    Curso de <a class="border-bottom" href="#">Diseño de Planta</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<link href="http://cdn.wijmo.com/5.latest/styles/wijmo.css" rel="stylesheet"/> 